.navbar {
    background-color: #282A35;
    text-align: center;
    font-size: 25px;
    height: 80px;
    word-spacing: 25px;
}

.navbar a {
    text-decoration: none;
    color: white;
    line-height: 80px;    
}

#html h1 {
    font-size: 40px;
}

.btn-1 {
    background-color: #04AA6D;
    color: white;
    border-color: #04AA6D;
    font-size: 18px;
    height: 50px;
    width: 80px;
}
.btn-2 {
    background-color: #04AA6D;
    color: white;
    border-color: #04AA6D;
    font-size: 18px;
    height: 50px;
    width: 80px;
}

.about {
    background-color: #D9EEE1;
}

.about p {
    line-height: 40px;
    text-indent: 20px;
}

.btn-3 {
    background-color: #04AA6D;
    color: white;
    border-color: #04AA6D;
    font-size: 18px;
    height: 50px;
    /* width: 270px; */
}

.btn-4 {
    background-color: hsl(160, 30%, 8%);
    color: white;
    border-color: #04AA6D;
    font-size: 18px;
    height: 50px;
    width: 250px;    

}

h2 {
    display: block;
    font-size: 1,5rem;
    font-weight: bold;
    padding-left: 25px;
}

.your-self p {
    padding-left: 25px;
}

.title {
    text-transform: uppercase;
}

.exaple p {
    padding-left: 25px;
}

